@import url("https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;1,100;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #131313;
  overflow-x: hidden;
}

/*=============== CONSTANTS ===============*/
section {
  width: 95%;
  padding-top: 100px;
  margin: 0 80px;
}
section .upper-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.upper-section .left-section {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}
.upper-section .left-section .small-title {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: #fff;
  font-weight: 200;
}
.upper-section .left-section .big-title {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  line-height: 70px;
}
.upper-section .left-section .big-title span {
  color: #eb252f;
}
.upper-section .right-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin-right: -90px;
}
.right-section .text h2 {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}
.right-section .text h2 span {
  font-weight: 200;
  font-size: 16px;
  margin-left: 10px;
}
.right-section .splashes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 50px;
}
.right-section .splashes .rec {
  width: 80px;
  height: 6px;
  background: #fff;
  margin: 10px 0;
}
.right-section .splashes .colored-rec {
  background-color: #eb252f;
  right: 0;
  height: 4px;
}
.right-section .splashes .white-rec {
  width: 160px;
}
.content {
  padding-top: 80px;
  margin-left: -80px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  justify-content: center;
}
.content .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 80px;
}

/*=============== PRE-LOADER ===============*/
.loader-bg {
  position: fixed;
  z-index: 99999999;
  background-color: #131313;
  width: 100%;
  height: 100vh;
  display: flex;
  margin-top: -80px;
  justify-content: center;
  align-items: center;
}
.loader-bg img {
  width: 100px;
  height: 100px;
  animation: loader 2s linear infinite;
}

/*=============== HEADER ===============*/
header {
  position: fixed;
  width: 100%;
  padding: 50px 120px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;
  margin-top: -80px;
  transition: 0.3s all ease;
}
header .left-section {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .left-section a {
  text-decoration: none;
}
header .left-section img {
  width: 220px;
}
header .mid-section {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .mid-section .navigation li {
  display: inline;
  list-style: none;
  margin: 0 20px;
}
header .mid-section .navigation li a {
  text-decoration: none;
  color: rgb(179, 179, 179);
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
header .mid-section .navigation li a:hover {
  color: #fff;
}
header .mid-section .navigation li .active-link {
  color: #fff;
}
header .right-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .right-section a {
  text-decoration: none;
  margin-left: 20px;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}
header .right-section .phoneBtn {
  border: 1px solid #fff;
  padding: 10px 12px;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .right-section .phoneBtn .icon {
  padding-right: 5px;
}
header .right-section .phoneBtn:hover {
  background: #fff;
  color: #131313;
}

/*=============== MAIN CONTENT ===============*/
.main-content {
  margin-top: 80px;
  display: flex;
  align-items: center;
  padding-bottom: 80px;
  position: relative;
}
.main-content .red-rectangle {
  width: 500px;
  height: 100vh;
  position: absolute;
  background: #eb252f;
  top: -80px;
  right: -10px;
  z-index: -1;
}
.main-content .red-border {
  width: 200px;
  height: 500px;
  border-left: 7px solid #fe0f20;
  border-bottom: 7px solid #fe0f20;
  border-top: 7px solid #fe0f20;
  position: absolute;
  left: 55%;
  top: 15%;
  transition: 0.3s;
  z-index: -2;
  animation: redBorderAnimation 3s linear infinite;
}
.main-content .black-border {
  width: 200px;
  height: 500px;
  border-top: 3px solid #131313;
  border-right: 3px solid #131313;
  border-bottom: 3px solid #131313;
  position: absolute;
  left: 66.2%;
  top: 15%;
  z-index: 9;
  animation: BlackBorderAnimation 3s linear infinite;
}
.main-content .splashes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -110px;
  margin-left: -100px;
  margin-right: 80px;
}
.main-content .splashes .rec {
  width: 80px;
  height: 15px;
  background: #fff;
  margin: 60px 0;
}
.main-content .splashes .colored-rec {
  background-color: #eb252f;
  right: 0;
  height: 15px;
}
.main-content .row {
  width: 100%;
  flex-direction: row;
  display: flex;
  align-items: center;
}
.main-content a {
  text-decoration: none;
  color: #fff;
}
.main-content .row .text {
  display: flex;
  flex-direction: column;
}
.main-content .row .text .main-text {
  color: #fff;
  text-transform: uppercase;
  font-size: 80px;
  line-height: 120px;
}
.main-content .row .text .main-text span {
  color: #eb252f;
}
.main-content .row .text .specs {
  color: #fff;
  padding-top: 10px;
}
.main-content .row .text .specs span {
  font-weight: 200;
}
.main-content .row .text .line {
  margin: 20px 0;
  width: 100%;
  height: 1px;
  background: #eb252f;
  animation: lineAnimation 2s linear infinite;
}
.main-content .row .text .buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 10px;
}
.main-content .row .text .buttons a {
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  transition: 0.3s;
}
.main-content .row .text .buttons .hireBtn {
  border: 1px solid #fe0f20;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.main-content .row .text .buttons .hireBtn .wheelIcon{
  position: absolute;
  width: 30px;
  margin-left: 20px;
}
.main-content .row .text .buttons .hireBtn:hover {
  background-color: #fe0f20;
}
.main-content .row .text .buttons .hireBtn:hover img {
  transform: rotate(360deg);
  transition: 1.2s;
}
.main-content .row .hero-img {
  width: 850px;
  height: 550px;
}
.main-content .row img {
  width: 100%;
  animation: carAnimation 5s linear infinite;
}
.main-content .social-icons {
  margin-left: 40px;
}
.main-content .social-icons a {
  margin: 0 10px;
}
.main-content .social-icons .icon {
  font-size: 25px;
  color: rgb(179, 179, 179);
  transition: 0.3s;
}
.main-content .social-icons .icon:hover {
  color: #eb252f;
  text-shadow: 0 0 12px #eb252f;
}
.main-content .scroll {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 45%;
  transition: 0.3s;
}
.main-content .scroll:hover .mouse {
  transition: all 0.3s ease-in-out;
  border: 2px solid #fe0f20;
  box-shadow: 0 0 10px #fe0f20;
}
.main-content .scroll:hover .mouse span {
  transition: all 0.3s ease-in-out;
  background-color: #fe0f20;
  box-shadow: 0 0 10px #fe0f20;
}
.main-content .scroll .mouse {
  width: 2rem;
  height: 4rem;
  border: 2px solid #949494;
  border-radius: 2rem;
  display: flex;
  animation: moveMouse 5s linear infinite;
}
.mouse span {
  width: 1rem;
  height: 1rem;
  background-color: #949494;
  display: block;
  border-radius: 50%;
  margin: auto;
  animation: moveWheel 3s linear infinite;
}

/*=============== SERVICES ===============*/
.content .right {
  width: 320px;
  height: 550px;
  background: #383838;
  position: relative;
  left: 180px;
  top: 28px;
  transition: 0.8s;
}
.content .right:hover {
  background: #d41a23;
  transform: scale(1.1);
  transition: 0.8s;
  box-shadow: 0 0 20px 4px #000;
  cursor: pointer;
}
.content .right .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: small;
  padding: 35px;
  letter-spacing: 0.5px;
}
.content .right .text p {
  font-weight: inherit;
  font-size: 20px;
  font-weight: 300;
  padding: 12px;
}
.content .right .car1 {
  width: 320px;
  position: relative;
  transition: 1s;
}
.content .right:hover .car1 {
  transform: scale(1.2);
  transition: 1s;
}
.content .right input {
  padding: 15px 55px 15px 15px;
  border: 2px solid #d41a23;
  border-radius: 1.2px;
  position: relative;
  left: 75px;
  top: 65px;
  background-color: #383838;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  transition: 0.8s;
  cursor: pointer;
}
.content .right:hover input {
  border-color: #fff;
  background-color: #d41a23;
  transition: 0.8s;
}
.content .right .icon1 {
  width: 28px;
  height: 28px;
  position: relative;
  top: 72px;
  left: 28px;
  transition: 1.2s;
}
.content .right:hover .icon1 {
  transform: rotate(360deg);
  transition: 1.2s;
}

.content .center {
  width: 320px;
  height: 550px;
  background: #d41a23;
  position: relative;
  left: 620px;
  bottom: 600px;
  transition: 0.8s;
  transform: scale(1.1);
  box-shadow: 0 0 20px 4px #000;
}
.content .center:hover {
  background: #d41a23;
  transform: scale(1.1);
  transition: 0.8s;
  box-shadow: 0 0 20px 4px #000;
  cursor: pointer;
}
.content .center .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: small;
  padding: 35px;
  letter-spacing: 0.5px;
}
.content .center .text p {
  font-weight: inherit;
  font-size: 20px;
  padding: 12px;
  font-weight: 300;
}
.content .center .car2 {
  width: 320px;
  transform: scale(1.2);
  position: relative;
  transition: 1s;
}
.content .center input {
  padding: 15px 55px 15px 15px;
  border: 2px solid #fff;
  border-radius: 1.2px;
  position: relative;
  left: 75px;
  top: 65px;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  transition: 0.8s;
  cursor: pointer;
}
.content .center .icon1 {
  width: 28px;
  height: 28px;
  position: relative;
  top: 72px;
  left: 28px;
  transition: 1.2s;
}
.content .center:hover .icon1 {
  transform: rotate(360deg);
  transition: 1.2s;
}
.content .left {
  width: 320px;
  height: 550px;
  background: #383838;
  position: relative;
  left: 1050px;
  bottom: 1230px;
  transition: 0.8s;
}
.content .left:hover {
  background: #d41a23;
  transform: scale(1.1);
  transition: 0.8s;
  box-shadow: 0 0 20px 4px #000;
  cursor: pointer;
}
.content .left .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: small;
  padding: 35px;
  letter-spacing: 0.5px;
}
.content .left .text p {
  font-weight: inherit;
  font-size: 20px;
  padding: 12px;
  font-weight: 300;
}
.content .left .car3 {
  width: 320px;
  position: relative;
  transition: 1s;
}
.content .left:hover .car3 {
  transform: scale(1.2);
  transition: 1s;
}
.content .left input {
  padding: 15px 55px 15px 15px;
  border: 2px solid #d41a23;
  border-radius: 1.2px;
  position: relative;
  left: 75px;
  top: 65px;
  background-color: #383838;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  transition: 0.8s;
  cursor: pointer;
}
.content .left:hover input {
  border-color: #fff;
  background-color: #d41a23;
  transition: 0.8s;
}
.content .left .icon1 {
  width: 28px;
  height: 28px;
  position: relative;
  top: 72px;
  left: 28px;
  transition: 1.2s;
}
.content .left:hover .icon1 {
  transform: rotate(360deg);
  transition: 1.2s;
}

/*=============== ADVANTAGE ===============*/
.advantage {
  margin-top: -1100px;
}
.advantage .card {
  width: 350px;
  height: 350px;
  background: #383838;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.advantage .card:hover {
  cursor: pointer;
  background-color: #d41a23;
  box-shadow: 0 0 20px 4px #000;
}
.advantage .card:hover p {
  color: #fff;
  transition: 0.3s;
}
.advantage .card .icon {
  width: 60px;
  height: 60px;
  margin-bottom: 40px;
}
.advantage .text {
  text-align: center;
}
.advantage .text .title {
  color: #fff;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 600;
  margin-bottom: 20px;
  max-width: 250px;
}
.advantage .text p {
  max-width: 260px;
  color: #949494;
  font-size: 16px;
  font-weight: 300;
}

/*=============== QUOTE ===============*/
.quote {
  padding-top: 150px;
  margin-top: 50px;
  height: 600px;
  position: relative;
  margin-bottom: 200px;
}
.quote .desc {
  padding-top: 20px;
  color: #fff;
  font-size: 20px;
  max-width: 500px;
  font-weight: 300;
}
.quote .bg {
  width: 100%;
  position: absolute;
  left: -80px;
  top: -100px;
}
.quote .bg img {
  height: 900px;
  width: 110%;
  z-index: -1;
  position: absolute;
}

/*=============== HOW IT WORKS ===============*/
.how-it-works .card {
  width: 250px;
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
}
.how-it-works .card:hover .img-card {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #d41a23;
  box-shadow: 0 0 20px 4px #000;
}
.how-it-works .card .icon {
  width: 60px;
  height: 60px;
  margin-bottom: 40px;
}
.how-it-works .card .img-card {
  width: 140px;
  height: 140px;
  background-color: #292929;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  margin-bottom: 25px;
  transition: 0.3s;
}
.how-it-works .text {
  text-align: center;
}
.how-it-works .text .title {
  color: #fff;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 600;
  margin-bottom: 20px;
  max-width: 250px;
}
.how-it-works .text p {
  max-width: 260px;
  color: #949494;
  font-size: 16px;
  font-weight: 300;
}
.how-it-works .bottom-text {
  margin-top: 40px;
  color: #fff;
  font-size: 20px;
}
.how-it-works .rectangle {
  margin: 5px 0;
  width: 40px;
  height: 2px;
  background: #eb252f;
}

/*=============== GALLERY ===============*/
.gallery {
  margin-top: 100px;
}
.img-gallery {
  width: 100%;
  max-width: 1280px;
  margin: 100px 80px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: 150px;
  grid-auto-flow: dense;
  grid-gap: 30px;
}
.img-gallery .img-box {
  position: relative;
  background-color: #d7d7d8;
  overflow: hidden;
  cursor: pointer;
}
.img-gallery .img-box:nth-child(2) {
  grid-column: span 2;
}
.img-gallery .img-box:nth-child(4) {
  grid-row: span 2;
}
.img-gallery .img-box:nth-child(7) {
  grid-row: span 2;
}
.img-gallery .img-box:nth-child(8) {
  grid-column: span 2;
  grid-row: span 2;
}
.img-gallery .img-box:nth-child(9) {
  grid-column: span 2;
}
.img-gallery .img-box:nth-child(14) {
  grid-column: span 2;
  grid-row: span 2;
}
.img-gallery .img-box:nth-child(15) {
  grid-column: span 2;
  grid-row: span 2;
}
.img-gallery .img-box:nth-child(17) {
  grid-column: span 2;
}
.img-gallery .img-box:nth-child(18) {
  grid-column: span 3;
}
.img-gallery .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
  filter: grayscale(1);
}
.img-gallery .img-box:hover img {
  transform: scale(1.1);
}
.img-gallery .img-box .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(219, 9, 23, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.5s ease;
  z-index: 1;
}
.img-gallery .img-box:hover .overlay {
  opacity: 1;
}
.img-gallery .overlay .icon a {
  color: #fff;
  text-decoration: none;
}
.img-gallery .overlay .icon a .icon {
  font-size: 50px;
}

/*=============== FAQ ===============*/
.questions {
  position: relative;
  top: 40px;
  left: 80px;
  color: #fff;
}
.faq {
  max-width: 1200px;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #fff;
  cursor: pointer;
  transition: 1s;
}
.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.question h3 {
  font-size: 18px;
  font-weight: 400;
}
.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s ease;
}
.answer p {
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 16px;
  transition: 0.8s;
  font-weight: 300;
}
.faq.active p {
  color: #949494;
}
.faq.active .answer {
  max-height: 300px;
  animation: fade 1s ease-in-out;
}
.faq.active svg {
  transform: rotate(180deg);
  transition: 0.5s;
}
svg {
  transition: transform 0.5s ease-in;
}
/*=============== MOBILE APP ===============*/
.mobile-app {
  margin-top: 120px;
  padding: 120px 0;
  position: relative;
}
.mobile-app .upper-section .big-title span {
  color: #131313;
}
.mobile-app .bg {
  position: absolute;
  background-color: #fe0f20;
  width: 120%;
  height: 100%;
  margin-left: -80px;
  margin-top: -80px;
}
.mobile-app .bg::after {
  content: "";
  position: absolute;
  right: 200px;
  width: 400px;
  height: 100%;
  background-color: #fff;
}
.mobile-app .desc {
  padding-top: 20px;
  color: #fff;
  font-size: 20px;
  max-width: 500px;
  font-weight: 300;
}
.mobile-app .buttons {
  margin-top: 50px;
  margin-left: -20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mobile-app .buttons a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
  margin: 0 20px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  border: 1px solid #fff;
  transition: 0.3s;
}
.mobile-app .buttons a:hover {
  background-color: #131313;
}
.mobile-app .buttons a .icon {
  width: 40px;
  height: 40px;
}
.mobile-app .buttons .icon img {
  width: 100%;
}
.mobile-app .buttons .text {
  height: 100%;
  padding-left: 15px;
  border-left: 1px solid #fff;
  margin-left: 10px;
}
.mobile-app .buttons .text h2 {
  font-size: 16px;
  font-weight: 200;
}
.mobile-app .buttons .text h2 span {
  font-size: 18px;
  font-weight: 800;
}
.mobile-app .right-section {
  margin-right: 160px;
  display: flex;
  flex-direction: row;
}
.mobile-app .right-section .app1 {
  border-radius: 10px;
  margin-right: 30px;
  margin-top: 80px;
  width: 300px;
  box-shadow: 0 0 20px 4px #000;
  animation: appAnimation 5s linear infinite;
}
.mobile-app .right-section .app2 {
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 0 8px 1px #000;
  animation: appAnimation2 5s linear infinite;
}

/*=============== FOOTER ===============*/
.footer{
  padding-top: 100px;
}
.footer .title{
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
}
.footer .title span{
  color: #fe0f20;
}
.footer .container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.footer .container .card{
  width: 500px;
  height: 250px;
  padding: 0 10px;
  background-color: #313131;
  display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: 10px;
  row-gap: 10px;
  transition: 0.3s;
  position: relative;
  margin: 0 20px;
}
.footer .container .card:hover{
  cursor: pointer;
  background-color: #fe0f20;
}
.footer .container .card:hover .button {
  transition: all 0.4s ease-in-out;
  display: block;
}
.footer .container .card:hover .card-text .fuel {
  transition: all 0.3s ease-in-out;
  background-color: rgba(255, 255, 255, 0.2);
}
.footer .container .card:hover .card-text .text h3{
  transition: all 0.3s ease-in-out;
  color: #fff;
}
.footer .container .card .car-img{
  width: 400px;
}
.footer .container .card .car-img img{
  width: 100%;
}
.footer .container .card .card-text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer .container .card .card-text .fuel{
  padding: 5px 10px;
  background-color: #383838;
  display: flex;
  align-items: center;
  flex-direction: row;
  color: #131313;
  transition: 0.4s;
}
.footer .container .card .card-text .fuel i{
  font-size: 15px;
  margin-right: 4px;
  transition: 0.4s;
}
.footer .container .card .card-text .text h3{
  margin-top: 10px;
  font-size: 14px;
  color: #fe0f20;
  text-transform: uppercase;
  font-weight: 800;
  transition: 0.4s;
}
.footer .container .card .card-text .text h2{
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 700;
}
.footer .container .card .card-text .price{
  color: #fff;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 8px;
  background-color: #131313;
  padding: 8px 10px;
  margin-top: 8px;
  border-radius: 4px;
}
.footer .container .card .button{
  position: absolute;
  display: flex;
  width: 100px;
  justify-content: center;
  align-self: center;
  color: #fff;
  background-color: #fff;
  padding: 10px 20px;
  right: 20px;
  bottom: -20px;
  border-radius: 30px;
  display: none;
  transition: 0.4s;
}
.footer .container .card .button a{
  text-decoration: none;
  color: #131313;
  text-transform: uppercase;
  font-size: 12px;
  transition: 0.4s;
}

.footer .form-section{
  margin: 80px 0;
  padding: 50px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-left: -30px;
}
.footer .form-section .left-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer .form-section .left-section .description{
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: -40px;
  margin-bottom: 30px;
}
.footer .form-section .left-section form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer .form-section .left-section form input{
  width: 400px;
  margin: 10px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 40px;
  font-size: 16px;
}
.footer .form-section .left-section form .name,
.footer .form-section .left-section form .email{
  background-color: rgb(33, 33, 33);
  padding: 0 40px;
  color: #fff;
  transition: 0.6s;
}
.footer .form-section .left-section form .name:focus,
.footer .form-section .left-section form .email:focus{
  box-shadow: 0 0 5px #fe0f20;
}
.footer .form-section .left-section form .submit-btn{
  background-color: #fe0f20;
  color: #fff;
  cursor: pointer;
  transition: 0.6s;
}
.footer .form-section .left-section form .submit-btn:hover{
  background-color: #cb040e;
}
.footer .form-section .right-section{
  width: 1000px;
  height: 410px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../../assets/imgs/17.jpg');
  background-position: center;
  background-size: cover;
  object-fit: cover;
  margin-left: 50px;
}
.footer .lower-section{
  width: 110%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
  background-color: rgb(14, 14, 14);
  padding: 50px 100px;
  margin-left: -100px;
}
.footer .lower-section .left-section{
  width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .lower-section .left-section a{
  text-decoration: none;
}
.footer .lower-section .left-section a img{
  width: 100%;
}
.footer .lower-section .right-section .social-icons {
  margin-right: 20px;
}
.footer .lower-section .right-section .social-icons a {
  margin: 0 10px;
  text-decoration: none;
}
.footer .lower-section .right-section .social-icons .icon {
  font-size: 20px;
  color: rgb(179, 179, 179);
  transition: 0.3s;
}
.footer .lower-section .right-section .social-icons .icon:hover {
  color: #eb252f;
  text-shadow: 0 0 12px #eb252f;
}
.footer .mid-section{
  color: #fff;
  font-size: 12px;
}

/*=============== ANIMATIONS ===============*/
@keyframes loader {
  0% {
    transform: rotate(180deg);
    opacity: 0;
  }
  50% {
    transform: rotate(-180deg);
    opacity: 1;
  }
  100% {
    transform: rotate(180deg);
    opacity: 0;
  }
}
@keyframes lineAnimation {
  0% {
    box-shadow: 0 0 0 0;
  }
  50% {
    box-shadow: 0 0 10px 2px #eb252f;
  }
  100% {
    box-shadow: 0 0 0 0;
  }
}
@keyframes redBorderAnimation {
  0% {
    box-shadow: 0 0 0 0;
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    box-shadow: 0 0 0 0;
    transform: translateY(10px);
  }
}

@keyframes BlackBorderAnimation {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes arrowAnimation {
  0% {
    transform: translateY(-4px);
  }
  50% {
    transform: translateY(6px);
  }
  100% {
    transform: translateY(-4px);
  }
}
@keyframes carAnimation {
  0% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(-10px);
  }
}
@keyframes moveWheel {
  0% {
    transform: translateY(-1rem);
  }
  50% {
    transform: translateY(1rem);
  }
  100% {
    transform: translateY(-1rem);
  }
}
@keyframes moveMouse {
  0% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(-2px);
  }
}
@keyframes appAnimation {
  0% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(-2px);
  }
}
@keyframes appAnimation2 {
  0% {
    transform: translateY(2px);
  }
  50% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(2px);
  }
}
@keyframes arrowDown {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  0% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
/*=============== SCROLL BAR  CUSTOMIZATION ===============*/
.main::-webkit-scrollbar {
  height: 100%;
  display: none;
  transition: 0.3s;
}
body::-webkit-scrollbar {
  display: block;
  width: 10px;
  color: #fff;
  display: block;
}
body::-webkit-scrollbar-track {
  background-color: #313131;
}
body::-webkit-scrollbar-thumb {
  box-shadow: inset 12px 12px 6px #fe0f20;
}

/*=============== SCROLL UP ===============*/
.scrollup {
  position: fixed;
  background-color: #fe0f20;
  right: 1rem;
  bottom: -30%;
  display: inline-flex;
  padding: 0.5rem;
  border-radius: 0.25rem;
  z-index: 9999;
  opacity: 0.8;
  transition: 0.4s;
  text-decoration: none;
}
.scrollup__icon {
  font-size: 1.5rem;
  color: #fff;
}
.scrollup:hover {
  background-color: #d41a23;
  opacity: 1;
}
/* Show Scroll Up*/
.show-scroll {
  bottom: 3rem;
}