@import url("https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;1,100;1,300&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #131313;
    overflow-x: hidden;
}

/*=============== PRE-LOADER ===============*/
.loader-bg {
    position: fixed;
    z-index: 99999999;
    background-color: #131313;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-bg img {
    width: 100px;
    height: 100px;
    animation: loader 2s linear infinite;
}

/*=============== HEADER ===============*/
header {
    position: fixed;
    width: 100%;
    padding: 50px 180px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99999;
    transition: 0.3s all ease;
    border-bottom: 3px soild #000;
    box-shadow: 0 0 10px #000;
    background-color: #131313;
}

header .left-section {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .left-section a {
    text-decoration: none;
}

header .left-section img {
    width: 220px;
}

header .mid-section {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .mid-section .navigation li {
    display: inline;
    list-style: none;
    margin: 0 20px;
}

header .mid-section .navigation li a {
    text-decoration: none;
    color: rgb(179, 179, 179);
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

header .mid-section .navigation li a:hover {
    color: #fff;
}

header .mid-section .navigation li .active-link {
    color: #fff;
}

header .right-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .right-section a {
    text-decoration: none;
    margin-left: 20px;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}

header .right-section .phoneBtn {
    border: 1px solid #fff;
    padding: 10px 12px;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .right-section .phoneBtn .icon {
    padding-right: 5px;
}

header .right-section .phoneBtn:hover {
    background: #fff;
    color: #131313;
}

/*=============== signup ===============*/
.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signupContainer {
   display: flex;
   align-items: center;
   justify-content: center;
   min-width: 750px;
   min-height: 550px;
   margin-top: 140px; 
}

/*=============== login form ===============*/
.signupContainer .signupForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 720px;
    background: #fff;
    padding: 40px;
    border-radius: 5px;
    z-index: 3;
    transition: 0.3s;
}

.signupContainer .signupForm:hover{
    box-shadow: 0 0 8px #fff;
    transition: 0.3s;
}

.signupContainer .signupForm h2 {
    color: #d41a23;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    margin-bottom: 15px;
}

/*--------------- social icons ----------------*/
.signupContainer .signupForm .social-icons {
    margin: 5px 0 5px 0;
}

.signupContainer .signupForm .social-icons a {
    margin: 0px 10px;
    text-decoration: none;
}

.signupContainer .signupForm .social-icons .icon {
    font-size: 25px;
    color: rgba(180, 178, 178, 0.794);
    transition: 0.3s;
}

.signupContainer .signupForm .social-icons .icon:hover {
    color: #d41a23;
    text-shadow: 0 0 5px  red;
    transition: 0.3s;
}

.signupContainer .signupForm .formBox .inputBox input {
    position: relative;
    left: 15px;
    width: 100%;
    resize: none;
    padding: 5px 0;
    margin: 20px 0;
    font-size: 20px;
    font-weight: 500;
    color: #303030;
    border: none;
    outline: none;
    border-bottom: 1px solid #303030;
    transition: all 0.3s;
}

.signupContainer .signupForm .formBox .inputBox span {
    position: absolute;
    left: 75px;
    padding: 15px 0;
    pointer-events: none;
    font-size: 18px;
    font-weight: 400;
    color: rgb(180, 180, 180);
    transition: all 0.3s;
}

.signupContainer .signupForm .formBox .inputBox input:focus~span,
.signupContainer .signupForm .formBox .inputBox input:valid~span {
    transform: translateY(-22px);
    transition: all 0.3s;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
    color: #d41a23;
}

.signupContainer .signupForm .formBox .imgName{
    position: absolute;
    top: 130px;
    left: 13px;
}

.signupContainer .signupForm .formBox .imgTel{
    position: absolute;
    top: 200px;
    left: 13px;
}

.signupContainer .signupForm .formBox .imgAdd{
    position: absolute;
    top: 275px;
    left: 13px;
}

.signupContainer .signupForm .formBox .imgEmail {
    position: absolute;
    top: 350px;
    left: 13px;
}

.signupContainer .signupForm .formBox .imgPass{
    position: absolute;
    top: 425px;
    left: 13px;
}

.signupContainer .signupForm .formBox #eye {
    position: absolute;
    right: 45px;
    transform: translate(0 , -30%);
    top: 60%;
    color: rgb(180, 180, 180);
    cursor: pointer;
}

.signupContainer .signupForm .formBox .chackBox {
    font-size: 12px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signupContainer .signupForm .formBox .chackBox p {
    margin-left: 5px;
    margin-top: 2px;
}

.signupContainer .signupForm .formBox .chackBox span {
    color: #d41a23;
}

.signupContainer .signupForm .formBox .inputBox input:focus {
    border-bottom: 1px solid #d41a23;
    transition: 0.3s;
}

.signupContainer .signupForm .formBox .inputBox input[type="submit"] {
    background: #d41a23;
    color: #fff;
    border: none;
    margin-left: 35px;
    font-weight: 500;
    font-size: 24px;
    border-radius: 30px;
    max-width: 70%;
    padding: 12px;
    transition: all 0.3s;
}

.signupContainer .signupForm .formBox .inputBox input[type="submit"]:hover {
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 0 0 8px #d41a23;
}

.signupContainer .signupForm .formBox h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    color: #000;
}
.signupContainer .signupForm .formBox a{
    color: #d41a23;
    font-weight: 400;
    text-decoration: none;
}

/*=============== welcome form ===============*/
.signupContainer .welcomeForm {
    background: #d41a23;
    width: 420px;
    height: 720px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    z-index: 2;
}

.signupContainer .welcomeForm:hover{
    box-shadow: 0 0 8px #000;
    transition: 0.3s;
}

.signupContainer .welcomeForm .text {
    text-align: center;
    color: #fff;
}

.signupContainer .welcomeForm .text h1 {
    margin: 20px;
    font-weight: 500;
    letter-spacing: 1px;
}

.signupContainer .welcomeForm .text p{
    font-weight: 300;
    letter-spacing: 1px;
}

@keyframes loader {
    0% {
        transform: rotate(180deg);
        opacity: 0;
    }

    50% {
        transform: rotate(-180deg);
        opacity: 1;
    }

    100% {
        transform: rotate(180deg);
        opacity: 0;
    }
}
